<!DOCTYPE HTML>
<html>

<head>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css" />
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script src="js/manipulateEarth.js"></script>
    <script src="js/initializeEarth.js"></script>

    <title>Klimaforandringer</title>


</head>

<body onload="initialize()">
    <div id="menu">
        <ul>
            <li><button id="0">Tema 1: Drivhuseffekten</button></li>
            <li><button id="1">Tema 2: Havstrømme</button></li>
            <li><button id="2">Tema 3: Konsekvenser</button></li>
            <li><button id="3">Tema 4: Grøn energi</button></li>
            <li>Tema 5: Projekt</li>
        </ul>
    </div>
    <div id="content_earth_div">
        <form id="earth_form" method="post" action="/render_video">
            <div id="earth_div"></div>
            <input type="hidden" name="nextpage" id="nextpage">
        </form>
    </div>

</body>

</html>