<script src="http://www.webglearth.com/v2/api.js"></script>
<link rel="stylesheet" href="leaflet/dist/leaflet.css">
<script src="/leaflet/dist/leaflet.js"></script>

<script>
    const nat = 'http://data.webglearth.com/natural-earth-color/{z}/{x}/{y}.jpg'; //bliver repeatet
    const nasa = 'http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg';
    const weather = 'http://tileserver.maptiler.com/weather/{z}/{x}/{y}.jpg';
    const custom = '../assets/custom.get.json'; //virker ikke
    function initialize() {
        var options = {atmosphere: true, center: [0, 0], zoom: 3.2, sky: true, tilting: true};
        var earth = new WE.map('earth_div', options);
        WE.tileLayer(nasa, {
            minZoom: 0,
            maxZoom: 5,
            attribution: 'NASA'
        }).addTo(earth);

        // WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);

        var marker1 = WE.marker([68, -20]).addTo(earth);
        marker1.bindPopup("<b>Grønlandspumpen</b><br><br/><a href=\"#\">Link til grønlandspumpen</a>", {
            maxWidth: 150,
            closeButton: true
        }).openPopup();
        var marker2 = WE.marker([53, 20]).addTo(earth);
        marker2.bindPopup("<b>Drivhuseffekten</b><br><br/><a href=\"#\">Link til drivhuseffekten</a>", {
            maxWidth: 150,
            closeButton: true
        }).openPopup();



        //ROTATION DISABLED
        /*var before = null;
        requestAnimationFrame(function animate(now) {
            var c = earth.getPosition();
            var elapsed = before ? now - before : 0;
            before = now;
            earth.setCenter([c[0], c[1] + 0.1 * (elapsed / 30)]);
            requestAnimationFrame(animate);
        });*/
    }


    /**
     * TODO:
     * - start længere væk og zoom ind.
     * - "populate" kloden med pins
     * - Menu i siden til at "scroll-to" punkterne?
     * - Login knap (ikke placeret på kloden)
     * -
     */
</script>
<style>
    html, body {
        padding: 0;
        margin: 0;
    }

    #earth_div {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        position: absolute !important;
    }
</style>
<body onload="initialize()">
<div id="earth_div" class="earth_div"></div>
</body>
