<html>

<head>

	<meta charset="utf-8">

	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/js/basic_functions.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/studypage.css">


</head>

<body>
	<div id="content">
		<div id="time_div" style="left: 8vw; top: 1vw;">
			<h2 class="title">5 min</h2></div>

		<div id="title_div">
			<h3 class="title" id="image_h3">Text Placeholder Title</h3>
		</div>

		<!-- dette er en placeholder indtil text indsættes dynamisk -->
		<div id="read_content_div">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ex placerat, feugiat justo ut, facilisis massa. Duicies facilisis.c semper sit amet, dapibus vel arcu. Ut vitae leo at eros interdum congue. Nunc vehicula nisi tristique nisl accumsan rutrum. Mauris a vestibulum nulla. Suspendisse lobortis, dolor in varius efficitur, risus mi consectetur sapien, at sodales dui augue et risus. Vivamus ac est ligula. Aliquam ut porta velit, at euismod purus. Maecenas dictum justo quis justo porttitor, ac semper orci condimentum. Donec nec tempus metus.

		</div>
		<!-- dette er en placeholder indtil text indsættes dynamisk -->
		<div id="read_content_div">
			amet posuere sapien. Sed id hendrerit lacus. Aliquam ut sem non quam ultricies facilisis. Suspendisse nisl nisl, iaculis ac semper sit amet, dapibus vel arcu. Ut vitae leo at eros interdum congue. Nunc vehicula nisi tristique nisl accumsan rutrum. Mauris a vestibulum nulla. Suspendisse lobortis, dolor in varius efficitur, risus mi consectetur sapien, at sodales dui augue et risus. Vivamus ac est ligula. Aliquam ut porta velit, at euismod purus. Maecenas dictum justo quis justo porttitor, ac semper orci condimentum. Donec nec tempus metus. GAMLE LUCA OG OLIVE

		</div>
	</div>
	<div>
		<!--		form kan bruges hvis nødvendigt
			<form></form>-->
		<div>
			Er alle klar? Du kan ikke trykke videre medmindre der er gået 5 minutter!
			<button onclick="nextPage()">Videre</button>
		</div>
	</div>
</body>

</html>